version: '3.8'

services:
  kafka:
    image: confluentinc/cp-kafka:7.8.3
    container_name: kafka
    ports:
      - "9092:9092"

    environment:
      KAFKA_KRAFT_MODE: 'true'

      CLUSTER_ID: '1L6g7nGhU-eAKfL--X25wo'
      KAFKA_NODE_ID: 1

      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
    healthcheck:
      test: ["CMD", "bash", "-c", "nc -z localhost 9092"]
      interval: 5s
      timeout: 5s
      retries: 10  

    volumes:
      - kafka_kraft:/var/lib/kafka/data

  api:
    build: /api
    ports:
      - 8000:8000 
  mongo:
    image: mongo:latest
    ports:
      - 27017:27017
    volumes:
      - mongodb_data:/data/db  
    environment: 
        KAFKA_URI: kafka:9092  
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping').ok"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s   

  app:
    build: /consumer  
    environment: 
       MONGO_URI: mongodb://mongo:27017/   
       KAFKA_URI: kafka:9092   
    depends_on:
      mongo:
        condition: service_healthy
      kafka:
        condition: service_healthy

  mysql:
    image: mysql:8.0    
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: users
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
    ports:
      - 3306:3306   
    volumes:
        - mysql_data:/var/lib/mysql
    healthcheck:
            test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
            timeout: 20s
            retries: 10     
        
  sql_service:
    build: produser   
    depends_on: 
      mysql:
       condition: service_healthy
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: users
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass  

volumes:
  kafka_kraft: 
  mongodb_data:  
  mysql_data:
